<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><%= current_user.nickname %>さんのページ</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown"> <!--ドロップダウン化するliタグ-->
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" href="">menu  <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#">作業報告</a></li>
            <li><a href="#">進捗状況</a></li>
            <li><a href="#">カウンセリング</a></li>
            <li><a href="#">ギャラリー</a></li>
            <li><a href="#">タイムライン</a></li>
            <li><a href="#">お知らせ</a></li>
            <li><a href="/profiles/#{current_user.id}">プロフィール</a></li>
          </ul>
         </li>
        <li><a href="#">ログアウト</a></li>
      </ul>
    </div>
  </div>
</nav>