<% if current_user.role == "guest" then %>
  <%= render 'guest' %>

<% elsif current_user.role == "general" then %>
  <%= render 'general' %>

<% elsif current_user.role == "special" then %>
  <%= render 'special' %>

<% else %>
  <h2> 許可されていないユーザです。ログアウトしてください。 </h2>

<% end %>

<%= link_to "ユーザログアウト", destroy_user_session_path, method: 'get' %>