<div class="col-sm-3 col-md-2 sidebar">
  <ul  class="nav nav-sidebar">
    <li class="active"><%= link_to "作業報告", user_actives_path, class: 'get' %>



  <!--   <a href="#">作業報告 <span class="sr-only">(current)</span></a> -->

    </li>
    <li><%= link_to "進捗状況", user_progresses_path, class: 'get' %></li>
    <li><a href="#">カウンセリング</a></li>
  </ul>
  <ul class="nav nav-sidebar">
    <li><a href="">ギャラリー</a></li>
    <li><a href="">タイムライン</a></li>
    <li><a href="">お知らせ</a></li>
  </ul>
  <ul class="nav nav-sidebar">
    <li><%= link_to "プロフィール", user_profile_path(id: current_user.id), class: 'get' %></li>
    <li><%= link_to "ログアウト", destroy_user_session_path, class: 'get' %></li>
  </ul>
</div>